<div class="image-container">
    <img src="https://cdn.shopify.com/s/files/1/0728/8111/1359/files/icone-de-gancho-de-metal-ferramenta-afiada-simbolo-do-clube-de-pesca-isolado-no-fundo-branco_53562-15311.webp?v=1678125216" alt="Description of image">
</div>

<style>
  .image-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: left;
    margin-bottom: -50px;
  }
  
  .image-container img {
    max-width: 40%;
    max-height: 40%;
  }
</style>
  <defs>
    <clipPath id="https://cdn.shopify.com/s/files/1/0728/8111/1359/files/icone-de-gancho-de-metal-ferramenta-afiada-simbolo-do-clube-de-pesca-isolado-no-fundo-branco_53562-15311.webp?v=1678125216">
      <rect
        width="43"
        height="43"
        fill="white"
        transform="translate(16 13)" />
    </clipPath>
  </defs>
