<div class="image-container">
    <img src="https://cdn.shopify.com/s/files/1/0728/8111/1359/files/15402230-ilustracaoial-de-machado-em-icones-de-simbolos-vector-de-qualidade-background-premium-para-conceito-e-design-grafico-vetor.jpg?v=1678125636" alt="Description of image">
</div>

<style>
  .image-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: left;
    margin-bottom: -50px;
  }
  
  .image-container img {
    max-width: 40%;
    max-height: 40%;
  }
</style>
  <defs>
    <clipPath id="https://cdn.shopify.com/s/files/1/0728/8111/1359/files/15402230-ilustracaoial-de-machado-em-icones-de-simbolos-vector-de-qualidade-background-premium-para-conceito-e-design-grafico-vetor.jpg?v=1678125636">
      <rect
        width="43"
        height="43"
        fill="white"
        transform="translate(16 13)" />
    </clipPath>
  </defs>
