<section class="section">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <img src="{{ section.settings.image | img_url }}" alt="">
    {% for block in section.blocks %}
      <div class="text">
        <img src="{{ block.settings.image_picker | image_url: "master" }}" alt="">
        <span style="color: white;">{{ block.settings.textarea }}</span>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Motivos",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "cabeçalho",
        "default": "Titulo"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "produto"
      }
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "cards",
        "settings": [
          {
            "type": "text",
            "id": "textarea",
            "label": "texto",
            "default": "Texto"
          }
        ]
      }
    ]
  }
{% endschema %}